*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.template{
  display: none;
}
.none{
  display: none;
}
.general-container{
  background-color: #D2D6D1;
  width: 100%;
  height: 100vh;
  display: flex;
}
.wrapper{
  background-color: white;
  width: 80%;
  height: 95%;
  margin: auto;
  display: flex;
}
.left-side{
  height: 100%;
  width: 40%;
}
.right-side{
  height: 100%;
  width: 60%;
  display: none;
}
.info-user{
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #E7E7E7;
}
.info-user .user-image img{
  height: 50px;
  border-radius: 100%;
  margin-left: 10px;
}
.info-user .icon-user{
  color: #A8A8A8;
  font-size: 19px;
  margin-right: 10px;
}
.info-user .icon-user i{
  margin-right: 10px;
}
.notification-alert{
  width: 100%;
  height: 70px;
  background-color: #84D4F9;
  display: flex;
  align-items: center;
}
.alert-icon{
  margin-left: 20px;
  margin-right: 20px;
}
.alert-icon i{
  color: #84D4F9;
  background-color: white;
  padding: 10px;
  border-radius: 100%;
  font-size: 20px;
}
.search-contact{
  background-color: #FAFAFA;
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
}
.search-contact .search-icon{
  background-color: white;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-contact .search-icon i{
  color: #A8A8A8;
}
.input-search{
  background-color: white;
  height: 30px;
  width: 90%;
  display: flex;
  align-items: center;
}
.input-search input{
  border: 0;
  height: 20px;
  width: 100%;
}
.contacts{
  width: 100%;
  height: calc(100% - 180px);
}
.contacts{
  overflow-y: scroll;
}
.contacts .contact-chat{
  list-style-type: none;
  display: flex;
  border-bottom: 1px solid #F3F3F3;
  width: 100%;
}
.contacts .contact-chat:hover{
  background-color: #E6E8E8;
}
.contacts .contact-chat img{
  height: 60px;
  border-radius: 100%;
  margin-left: 10px;
  padding: 3px;
  vertical-align: middle;
}
.info-cantact-chat {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info-cantact-chat p{
  margin-top: 5px;
  color: #B4B6B8;
}
.chat-hour{
  color: #B4B6B8;
  width: 150px;
  text-align: right;
}
.info-chat{
  height: 70px;
  background-color: #E7E7E7;
  display: flex;
}
.info-chat .img-info-chat{
  height: 100%;
  width: 100px;
  display: flex;
  align-items: center;
}
.info-chat .img-info-chat img{
  height: 60px;
  border-radius: 100%;
  margin-left: 20px;
  margin-right: 20px;
}
.info-chat .text-info-chat{
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info-chat .text-info-chat p{
  color: #60686A;
  margin-top: 5px;
}
.info-chat .icons-info-chat {
  height: 100%;
  width: calc(95% - 300px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 21px;
  color: #A8A8A8;
}
.info-chat .icons-info-chat i{
  margin-right: 15px;
}
.chat{
  height: calc(100% - 130px);
  width: 100%;
  overflow-y: scroll;
  background-image: url(../img/sfondo.jpeg);
}
.space{
  height: 40px;
}
.my-message {
  border-radius: 5px;
  background-color: #CFF7B5;
  float: right;
  clear: both;
  margin-bottom: 20px;
  margin-right: 40px;
  position: relative;
}
.delete-message{
  display: none;
  position: absolute;
  top: 48px;
  left: 0;
  height: 50px;
  width: 145px;
  background-color: white;
  z-index: 1;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.18);
}
.delete-message li{
  list-style-type: none;
  margin-bottom: 10px;
  margin-left: 10px;
  text-align: center;
}
.icon-arrow{
  display: flex;
  height: 30%;
  justify-content: flex-end;
}
.icon-arrow i{
  color: #ABABAB;
  visibility: hidden;
  margin-right: 10px;
}
.my-message:hover .icon-arrow i{
  visibility: visible;
}
.text-message{
  height: 40%;
  display: flex;
  justify-content: center;
  padding: 0 20px;
}
.show-hour{
  height: 30%;
  display: flex;
  justify-content: flex-end;
  font-size: 10px;
}
.show-hour p{
  color: #ABABAB;
  margin-top: 2px;
  margin-right: 3px;
}
.his-message{
  border-radius: 5px;
  background-color: white;
  float: left;
  clear: both;
  margin-bottom: 20px;
  margin-left: 30px;
  position: relative;
}
.his-message:hover .icon-arrow i{
  visibility: visible;
}
.text-bar{
  height: 60px;
  width: 100%;
  background-color: #F1EBE7;
  display: flex;
}
.text-bar .emoticon{
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #60686A;
}
.text-bar .add-text{
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-bar .add-text input{
  border: 0;
  height: 40px;
  width: 100%;
}
.text-bar .add-text input::placeholder{
  font-size: 15px;
}
.text-bar .send {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #60686A;
}
.none{
  display: none
}
.active{
  display: block;
}
